/* font-css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.ft-20{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #333;
}
.ft-21{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #333;
}
.ft-28{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #c01f25;
}
.ft-28-bk{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #333;
}
.ft-32{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #333;
}
.ft-36{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #333;
}
.ft-36-md-bk{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 36px;
}
.ft-36-md-wh{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #fff;
}
.ft-11{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #333;
}

.ft-70{
    font-size: 70px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 68px;
}
.ft-70-wh{
    font-size: 70px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 68px;
    color: #fff;
}
.ft-26{
    font-size: 26px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    line-height: 46px;
}
.ft-26-wh{
    font-size: 26px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    line-height: 46px;
    color: #fff;
}
@media(max-width:1600px){
    .ft-70-wh{
        font-size: 52px;
        letter-spacing: -3px;
        line-height: 50px;
        color: #fff;
    }
    .ft-70{
        font-size: 52px;
        letter-spacing: -3px;
        line-height: 50px;
    }
    .ft-36-md-bk{
        font-size: 26px;
    }
    .ft-36-md-wh{
        font-size: 26px;
        color: #fff;
    }
    .ft-26{
        font-size: 18px;
        line-height: 38px;
    }
    .ft-26-wh{
        font-size: 18px;
        line-height: 38px;
        color: #fff;
    }
}
.ft-24{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
    margin: 0 !important;
}
.ft-18{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.ft-18-m{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
@media(max-width:1600px){
    .ft-18-m{
        font-size: 12px !important;
    }
}

/* color css */
.ft-cl-wh{
    color: #fff;
}
