/* font-css */
@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'paybooc-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'paybooc-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.ft-20{
    font-family: 'paybooc-Bold';
    font-size: 20px;
    color: #333;
}
.ft-21{
    font-family: 'paybooc-Medium';
    font-size: 21px;
    color: #333;
}
.ft-28{
    font-family: 'paybooc-Bold';
    font-size: 28px;
    color: #c01f25;
}
.ft-32{
    font-family: 'paybooc-Medium';
    font-size: 32px;
    color: #333;
}
.ft-36{
    font-family: 'paybooc-Medium';
    font-size: 36px;
    color: #333;
}
.ft-36-md-bk{
    font-family: 'paybooc-Medium';
    font-size: 36px;
}
.ft-36-md-wh{
    font-family: 'paybooc-Medium';
    font-size: 36px;
    color: #fff;
}
.ft-11{
    font-family: 'paybooc-Light';
    font-size: 11px;
    color: #333;
}

.ft-70{
    font-size: 70px;
    font-family: 'paybooc-Bold';
    letter-spacing: -3px;
    line-height: 68px;
}
.ft-70-wh{
    font-size: 70px;
    font-family: 'paybooc-Bold';
    letter-spacing: -3px;
    line-height: 68px;
    color: #fff;
}
.ft-26{
    font-size: 26px;
    font-family: 'paybooc-Medium';
    line-height: 46px;
}
.ft-26-wh{
    font-size: 26px;
    font-family: 'paybooc-Medium';
    line-height: 46px;
    color: #fff;
}
.ft-24{
    font-family: 'paybooc-Bold';
    font-size: 24px;
    padding-bottom: 20px;
    margin: 0 !important;
}
.ft-18{
    font-family: 'paybooc-Medium';
    font-size: 18px;
}


/* color css */
.ft-cl-wh{
    color: #fff;
}
