/* padding */
.g-0{
   padding: 0 !important;
}
.pdrl-5{
    padding: 0 5%;
}
.pd-10{
    padding: 10% 0;
}
.pd-50{
    padding: 25px 50px 0 !important;
}
.pd-45{
    padding: 25px 45px 0 !important;
}
.pt-20{
    padding-top: 20%;
}
.pt-6{
    padding-top: 6%;
}
.pt-10{
    padding-top: 10%;
}
.pt-12{
    padding-top: 12%;
}
.pr-6{
    padding-right: 6%;
}
.pr-4{
    padding-left: 4%;
}
.pr-5{
    padding-right: 5%;
}
.pr-2{
    padding-right: 2%;
}
.pl-2{
    padding-left: 2%;
}
.pd-lfrt2{
    padding: 0 2% 0 2%;
}
.pd-lfrt1{
    padding: 0 1% 0 1%;
}
.pb-140{
    padding-bottom: 140px;
}
.pb-272{
    padding-bottom: 272px;
}
.pd-215{
    padding: 21% 5%;
}
.pd-185{
    padding: 18% 5%;
}
.pd-195{
    padding: 19% 5%;
}

.pd-18{
    padding: 18% 0;
}
.pd-19{
    padding: 19% 0;
}
.pd-20{
    padding: 20% 0;
}
.pd-12{
    padding: 12% 0;
}

.mrl-4{
    margin: 0 4%;
}
.mt-8{
    margin-top: 8%;
}
.word-br{
    word-break: keep-all;
}
.vertical-m{
    vertical-align: middle;
}