
/* @media (max-width:1046px){
	.navi_box_bg {
    top: 75px;
}
} */

@media (max-width:2560px){
    .w_header_box{
        max-width: 1664px;
    }
    .top_logo {
        text-align: left;
    }
    .top_logo a img{
        width:69%;
    }
	.navi_box_bg {
		width:2560px;
        top: 77px;
		left:-739px;
}
}
@media(max-width:1600px){
    .navi_box_bg{
        top:69px;
    }
    .w_header_box{
        max-width: 1400px;
    }
    .menu:hover > a > span{
        padding-bottom: 11px;
    }
    .menu a.menu-title span:hover{
        padding-bottom: 11px;
    }
    .menu .submenu_box {
       padding-top: 12px !important;
    }
}



/* mobile */
@media(max-width:1201px){
    header{
        display: block;
    }
    .m_gnb_container{
        display: none;
    }
}

@media (max-width:1200px){
	.header-container{
    display: none ;
}
/* 모바일메뉴 */

/* 모바일 상위메뉴 */



}
