@import url(../css/reset.css);
@import url(../css/font.css);
@import url(../css/form.css);

.boxin1{
    width: 100%;
    height: 100vh;
    background: blue;
}
.boxin2{
    width: 100%;
    height: 100vh;
    background: pink;
}
/* header section */
.header-container{
    background: #fff;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.header_box {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transition-duration: 0.5s;
}
.top_logo {
    width: 16%;
	text-align: center;
    padding: 13px 0 10px;
}
.top_logo a{
	display:block;
}
.top_logo a img{
	min-width:100%;
}
/*------네비------*/
.navi_box {
    position: relative;
    width: 83%;
/*     height: 70px; */
    padding: 11px 0 0;
}
.navi_box ul{
    display: flex;
	justify-content:flex-end;
	margin-top:18px;
	margin-bottom:0;
}
/*------네비상위메뉴------*/
.menu {
    position: relative;
    max-width: 150px;
    height: 30px;
    text-align: center;
    font-size: 0;
	z-index: 999;
}
.menu > a {
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
	font-weight:600;
    transition: 0.5s;
    color:#333;
	margin-bottom:5px;
}
.menu a.menu-title span:hover{
    padding-bottom: 20px;
    border-bottom: 2px solid #2254a5;
}
/*------네비하위메뉴------*/
.navi_box_bg {
    display: none;
    position: absolute;
    width: 1916px;
    height: 285px;
    top: 85px;
    left: -560px;
    z-index: 999;
    background: #f7f7f7;
    border-top: 1px solid  rgb(204, 204, 204);
}
.menu .submenu_box {
    display: none;
    padding: 25px 36px 0;
}
.menu:hover > a > span{
    padding-bottom: 20px;
    border-bottom: 2px solid #2254a5;
}

.submenu_box > a {
    display: block;
    width: 150px;
    height: 40px;
    padding: 5px 0;
    text-align: left;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}
.submenu_box > a:hover {
    color: #2254a5 !important;
}


@media (max-width:1200px){
	.header_box {
    padding: 0 1%;
}

/*------네비상위메뉴------*/
.menu {
    max-width: 130px;
}
.menu > a {
    width: 130px;
    font-size: 16px;
}

/*------네비하위메뉴------*/
.navi_box_bg {
    max-width: 1200px;
    top: 82px;
    left: -212px;
}
	
.submenu_box > a {
    width: 130px;
	font-size:14px;
}		
}

@media (max-width:1046px){
	.navi_box_bg {
    top: 75px;
}
}

@media (max-width:2560px){
	.navi_box_bg {
		width:2560px;
        top: 78px;
		left:-885px;
}
}

/* nav-END */

/* footer-css */
.privacy-wrap ul li{
    line-height: 26px;
    color: #333;
}
.privacy-wrap ul li:first-child{
    width: 8%;
}
.privacy-wrap ul li:nth-child(2){
    width: 1.1%;
}
.footer-info-wrap ul li{
    line-height: 26px;
    color: #333;
}

/* footer-css end */

/* section-1 swiper */
.slide-bg1, .slide-bg2, .slide-bg3, .slide-bg4, .slide-bg5{
    height: 590px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-bg1{
    background-image: url(../images/slide1.png);
    
}
.slide-bg2{
    background-image: url(../images/slide2.png);
}
.slide-bg3{
    background-image: url(../images/slide3.png);
}
.slide-bg4{
    background-image: url(../images/slide4.png);
}
.slide-bg5{
    background-image: url(../images/slide5.png);
}





/* ceo-page */
.bg-circle{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-vision{
    background-image: url(../images/ceobanner.png);
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}

.banner-text{
    padding: 10% 0 !important;
    text-align: center;
}
.banner-text-title{
    font-family: 'paybooc-Bold';
    color: white;
    font-size: 48px;
    line-height: 100px;
    word-break: break-all;
}
.banner-explain{
    color: white;
}

.ceo-main-tell{
    font-family: 'paybooc-Bold';
    word-break: break-all;
    line-height: 50px;
}
.ceo-name{
    font-family: 'paybooc-Bold';
    color: #333;
    font-size: 18px;
    letter-spacing: 5px;
}

.page-title-wrap{
    position: relative;
}
.page-title-text{
    font-family: 'paybooc-Bold';
    font-size: 56px;
}
.box-deco{
    width: 114px;
    height: 6px;
    background: #c01f25;
    position: absolute;
    top: 60%;
    left: 0;
    transform: translate(15%,60%);
}
.ceo-name span{
    font-size: 14px;
    font-family: 'paybooc-Medium';
}
.ceo-message{
    word-break: keep-all;
    line-height: 50px;
}
.elgoalin-ceo{
    font-family: 'paybooc-Bold';
    text-align: end;
    font-size: 28px;
    letter-spacing: 5px;
}
.elgoalin-ceo span{
    font-family: 'paybooc-Medium';
    font-size: 18px;
    letter-spacing: 2px;
}


/* 기업개요 section */


.box-deco-vision{
    position: absolute;
    width: 102px;
    height: 6px;
    background:#c01f25;
    top: 60%;
    left: 0;
    transform: translate(17%,50%);
}

@media(max-width:1920px){
    .box-deco{
        top: 48%;
    }
    .box-deco-vision{
        top: 48%;
    } 
}
.overview-wrap{
    justify-content: space-between;
}
.overview-content,.mission-content, .vision-content, .corevalue-content{
    width: 78%;
}
.overview-title, .mission-title, .vision-t, .corevalue-title{
    width: 22%;
}
.corevalue-content img{
    width: 95.6%;
    margin: 0 2.2%;
}
.corevalue-content-wrap h3{
    text-align: center;
    align-items: center;
    font-size: 26px;
    font-family: 'paybooc-Bold';
    color: #333;
    word-break: keep-all;
}
.corevalue-content-wrap p{
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    word-break: keep-all;
}
.creative-wrap, .faith-wrap, .balance-wrap{
    width: 28%;
}
.balance-wrap{
    margin: 0 3% 0 2%;
}

/* 회사연혁page-css */
.history-img-wrap img{
    width: 100%;
}

/* 협력사소개 page-css */
.infra-img-wrap img{
    width: 100%;
}


/* 사업소개 page */

.bg-business{
    background-image: url(../images/Produce.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}
.banner-sub-text{
    font-family: 'paybooc-Medium';
    color: #fff;
}
.business-content-wrap ul li{
    width: 25%;
}
.business-content-wrap ul li:not(:first-child){
    color: #666;
}
.business-content-wrap ul li a{
    font-size: 22px;
    font-family: 'paybooc-Bold';
    line-height: 28px;
 }

.business-content-wrap ul li:hover{
    color: #c01f25;
}
.active2{
    color: #c01f25 !important;
}
.s-medi-img-wrap img{
    width: 100%;
}
.s-medi-text-wrap p{
    font-family: 'paybooc-Bold';
    color: #c01f25;
    line-height: 30px;
    margin-bottom: 0;
}
.s-medi-text-wrap h4{
    font-family: 'paybooc-Bold';
    font-size: 30px;
    line-height: 40px;
}
table.medi-table{
    margin-top: 6%;
}
table.medi-table tr{
    border-top: 2px solid #333;
    border-bottom: 2px solid #e1e1e1;
}
table.medi-table tr td{
   padding: 6% 4%;
   font-family: 'paybooc-Medium';
   font-size: 18px;
   line-height: 28px;
   word-break: keep-all;
   vertical-align: middle;
}
.add-content-wrap a{
    font-family: 'paybooc-Bold';
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
}
.add-content-wrap a i{
    vertical-align: middle;
    font-weight: 700;
}
.closed-content-wrap a{
    font-family: 'paybooc-Bold';
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
}
.closed-content-wrap a i{
    vertical-align: middle;
    font-weight: 700;
}
.add-content-wrap{
    padding-top: 3%;
}
.closed-content-wrap{
    display: none;
}
.add-content-wrap2 a{
    font-family: 'paybooc-Bold';
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
}
.add-content-wrap2 a i{
    vertical-align: middle;
    font-weight: 700;
}
.closed-content-wrap2 a{
    font-family: 'paybooc-Bold';
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
}
.closed-content-wrap2 a i{
    vertical-align: middle;
    font-weight: 700;
}
.add-content-wrap2{
    padding-top: 3%;
}
.closed-content-wrap2{
    display: none;
}
.medi-wrap-pd{
    padding: 8% 4% 8% 1% !important;
}

.s-medi-description table tr:first-child td{
    border-top: 2px solid #333;
    border-bottom: 1px solid #e3e3e3;
    padding: 20px 30px;
    word-break: keep-all;
    vertical-align: middle;
}
.s-medi-description table tr:not(:first-child) td{
    padding: 20px 30px;
    border-bottom: 1px solid #e3e3e3;
    vertical-align: middle;
}
.s-medi-description table tr td:first-child{
    font-size: 18px;
    font-family: 'paybooc-Bold';
}
.s-medi-description table tr td:nth-child(2){
    line-height: 30px;
}
.caution-text p{
    font-family: 'paybooc-Bold';
    color: #c01f25;
}
.s-medi-description {
    display: none;
}

tr.materials-wrap table thead tr{
    border-top: 2px solid #333;
    border-bottom: 2px solid #e1e1e1 !important;
}
tr.materials-wrap table tr{
    border-bottom: 2px solid #e1e1e1;
}
tr.materials-wrap table tr td{
    font-family: 'paybooc-Medium' !important;
    padding: 0px 30px !important;
}
tr.materials-wrap table thead tr th{
    font-family: 'paybooc-Bold';
}

.meta-page{
    display: none;
}
.detox-meta-wrap{
    display: none;
}
.meta-description-wrap{
    display: none;
}
/* R&D page css */

/* 시설소개 page */
.bg-facility{
    background-image: url(../images/Facility.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}
.bg-facility .banner-text h1{
    font-family: 'paybooc-Bold';
    font-size: 48px;
    line-height: 100px;
    word-break: break-all;
    color: rgba(0, 0, 0, 0.884);
}
.bg-facility .banner-text p{
    color: rgba(0, 0, 0, 0.884);
}
.facility-content-wrap p{
    font-size: 24px;
    font-family: 'paybooc-Medium';
    word-break: break-all;
}
.facility-content-wrap img{
    width: 100%;
}
/* 시설소개 page end */

/* 연구분야 page css */
.bg-reserch-field{
    background-image: url(../images/Analysis.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}
.research-field-content-wrap{
    width: 60%;
    margin: 0 20%;
}
.research-field-content-wrap ul li{
    width: 33.33%;
    padding-bottom: 18px;
}
.research-field-content-wrap ul li a{
    font-size: 22px;
    font-family: 'paybooc-Bold';
    line-height: 28px;
}


.bg-bio{
    background-image: url(../images/sample-develop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.bio-title{
    font-family: 'paybooc-Bold';
    font-size: 36px;
    color: #fff;
    line-height: 50px;
}
.bio-content-title p{
    font-family: 'paybooc-Medium';
    font-size: 20px;
}
.deco-box{
    width: 100px;
    height:4px;
    background: yellow;
}
.anti-content h3{
    font-size: 24px;
    font-family: 'paybooc-Bold';
    color: #fff;
    line-height: 26px;
}
.anti-content p{
    font-size: 16px;
    font-family: 'paybooc-Medium';
    color: #fff;
    line-height: 28px;
    padding-top: 12px;
}
.anti-content{
    padding-bottom: 60px;
}
.anti-content:first-child{
    padding-top: 26px;
}
.chemical{
    display: none;
}
.pharmaceuticals{
    display: none;
}
.research-field-content-wrap ul li.active{
    border-bottom: 3px solid #c01f25;
}




/* 연구 성과 page css */
table.results-table{
    background: #ffffff;
}
table.results-table tr th{
    vertical-align: middle;
    font-size: 20px;
    font-family: 'paybooc-Bold';
    line-height: 36px;
    height: 80px;
    padding:20px;
}
table.results-table thead tr{
  border-top: 2px solid #333;
  border-bottom: 1px solid #e6e6e6;
}

table.results-table tr td{
    vertical-align: middle;
    font-size: 20px;
    line-height: 36px;
    height: 80px;
    padding: 15px;
}
table.results-table tr:not(:last-child) td{
    border-bottom: 1px solid #e6e6e6;
}
table.results-table tr:last-child td{
    border-bottom: 2px solid #333;
}


/* 홍보관 - 소식과행사 page css  */

.bg-information {
    background-image: url(../images/PR.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}
.bg-information .banner-text h1{
    color: #333;
}
.bg-information .banner-text p{
    color: #333;
}